<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/randompick">Select User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/randselec">Random Pick</a>
    </li>
  </ul>