<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/movieadd">Add Movie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/movieupdate">Update Movie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/moviedelete">Delete Movie</a>
    </li>
  </ul>