<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div>
            <form action="process_form" method="post">
                <h2>Enter User:</h2>
                <input type="text" id="fname" name="fname" class="form-control" placeholder="First Name" required
                    autofocus>
                <input type="text" name="lname" id="lname" class="form-control" placeholder="Last Name">
                <input class="btn btn-lg btn-primary btn-block" type="submit">
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>