<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome to RandFlick!</h1>
            <p><%= tagline %></p>
            <table>
                <tr>
                    <td colspan="3" align="center"> <img class="img-fluid" src="dice1.png" width="50%" height="50%" /></td>
                    <td colspan="3" align="center"> <img class="img-fluid" src="dice1.png" width="50%" height="50%" /></td>
                    <td colspan="3" align="center"> <img class="img-fluid" src="dice1.png" width="50%" height="50%" /></td>
                </tr>
                <tr>
                    <td>adwdawd</td>
                    <td>Testing</td>
                    <td>awdawd</td>
                    <td></td>
                    <td>Testing</td>
                    <td></td>
                    <td></td>
                    <td>Testing</td>
                    <td></td>
                </tr>


            </table>
            
            
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>